@model MvcRugby.Models.Fixture

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>New [Competition Name] Fixture</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SportRadar_Id" class="control-label"></label>
                <input asp-for="SportRadar_Id" class="form-control" />
                <span asp-validation-for="SportRadar_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Round_Number" class="control-label"></label>
                <input asp-for="Round_Number" class="form-control" input="number"/>
                <span asp-validation-for="Round_Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fixture_Date" class="control-label"></label>
                <input asp-for="Fixture_Date" class="form-control" />
                <span asp-validation-for="Fixture_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Start_Time" class="control-label"></label>
                <input asp-for="Start_Time" class="form-control" />
                <span asp-validation-for="Start_Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Home_Team" class="control-label"></label>
                <input asp-for="Home_Team" class="form-control" />
                <span asp-validation-for="Home_Team" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Away_Team" class="control-label"></label>
                <input asp-for="Away_Team" class="form-control" />
                <span asp-validation-for="Away_Team" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Home_Score" class="control-label"></label>
                <input asp-for="Home_Score" class="form-control" input="number"/>
                <span asp-validation-for="Home_Score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Away_Score" class="control-label"></label>
                <input asp-for="Away_Score" class="form-control" input="number"/>
                <span asp-validation-for="Away_Score" class="text-danger"></span>
            </div>
            <div>
                <label class="from-label">Competition</label>
                @Html.DropDownListFor(model => model.CompetitionId, (SelectList)ViewBag.competitions, "Select Competition", new { @class = "form-control" })
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<hr>

<div>
    <a class ="btn btn-secondary reset-btn" asp-action="Index">Back to List</a>
</div>
<br>