@model MvcRugby.Models.Fixture

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>[Competition Name] Fixture</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FixtureId" />
            <div class="form-group">
                <label asp-for="SrSportEventId" class="control-label"></label>
                <input asp-for="SrSportEventId" class="form-control" />
                <span asp-validation-for="SrSportEventId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoundNumber" class="control-label"></label>
                <input asp-for="RoundNumber" class="form-control" input="number"/>
                <span asp-validation-for="RoundNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeScore" class="control-label"></label>
                <input asp-for="HomeScore" class="form-control" input="number"/>
                <span asp-validation-for="HomeScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AwayScore" class="control-label"></label>
                <input asp-for="AwayScore" class="form-control" input="number"/>
                <span asp-validation-for="AwayScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompetitionId" class="control-label"></label>
                <input asp-for="CompetitionId" class="form-control" input="number"/>
                <span asp-validation-for="CompetitionId" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-warning" />
                <a class ="btn btn-secondary reset-btn" asp-route-competitionId="@Model.CompetitionId" asp-action="Index">Back to fixtures</a>
            </div>
        </form>
    </div>
</div>
<br>