@model MvcRugby.Models.PlayerLineup

@{
  ViewData["Title"] = "Index";
}
<h1></h1>
@if(Model != null)
{
    <h1>Fixture Player Lineup</h1>
}
else
{
  <hr>
  <h3> We are currently experiencing technical difficulties, please check back later </h3>
  <hr>
}