@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the rugby player statistics comparison website</h1>
</div>
<div>
    <h2>How It Works</h2>
    <ol>
        <br>
        <li>Select a Competition</li>
        <br>
        <p>All of the tier 1 main competitions are supported: 6 Nations, Champions Cup, URC, Top 14, Premiership</p>
        <br>
        <li>Select a round</li>
        <br>
        <p>All Teams for the selected round will be shown, including the Average statistics for each player for the competition to date.</p>
        <br>
        <a class="btn btn-primary" asp-controller="SportRadar" asp-action="Index">
            <i class="bi bi-eye-fill"></i> Get Started
        </a>
    </ol>
</div>
<br>
<br>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Outer Column 1</th>
            <th scope="col">Outer Column 2</th>
            <th scope="col">Outer Column 3</th>
            <th scope="col">Outer Column 4</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <table class="table table-striped table-hover">
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td></td>
                    </tr>
                        <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </tr>
    </tbody>
</table>   
 
<br>
<br>