@model MvcRugby.Models.Team
@{
    ViewData["Title"] = "Create";
}

<h1>Create Club</h1>

<h4>Club</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SrCompetitorId" class="control-label"></label>
                <input asp-for="SrCompetitorId" class="form-control" />
                <span asp-validation-for="SrCompetitorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamName" class="control-label"></label>
                <input asp-for="TeamName" class="form-control" />
                <span asp-validation-for="TeamName" class="text-danger"></span>
            </div>
            
            <!-- Referance Microsoft Documentation: "Tutorial: Update related data - ASP.NET MVC with EF Core". 
                Available at: https://learn.microsoft.com/en-us/aspnet/core/data/ef-mvc/update-related-data?view=aspnetcore-8.0 -->
    
            <!--Referance YouTube video: "Create DROPDOWNS in ASP.NET Core using DropDownList and GetEnumSelectList!".
                Available at: https://www.youtube.com/watch?v=pigM1PojI0Q&ab_channel=tutorialsEU-C%23 -->
            @* <div>
                <label class="from-label">Competition</label>
                @Html.DropDownListFor(model => model.CompetitionId, (SelectList)ViewBag.competitions, "Select Competition", new { @class = "form-control" })
            </div> *@

            <br>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class ="btn btn-secondary reset-btn" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>