@model MvcRugby.Models.Club
@{
    ViewData["Title"] = "Create";
}

<h1>Create Club</h1>

<h4>Club</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SportRadar_Competitor_Id" class="control-label"></label>
                <input asp-for="SportRadar_Competitor_Id" class="form-control" />
                <span asp-validation-for="SportRadar_Competitor_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Club_Name" class="control-label"></label>
                <input asp-for="Club_Name" class="form-control" />
                <span asp-validation-for="Club_Name" class="text-danger"></span>
            </div>
            
            <!-- https://learn.microsoft.com/en-us/aspnet/core/data/ef-mvc/update-related-data?view=aspnetcore-8.0 -->
            
            @* @if (ViewBag.CompetitionId != null)
            {
                <p>CompetitionId in ViewBag: @Json.Serialize(ViewBag.CompetitionId)</p>
            }
            else
            {
                <p>CompetitionId in ViewBag is null</p>
            }
            <p>Model: @Json.Serialize(Model)</p>
            *@
            
            @* <div class="form-group">
                <label asp-for="CompetitionId" class="control-label"></label>
                <select asp-for="CompetitionId" class="form-control" asp-items="@ViewBag.CompetitionId">
                    <option value="">-- Select Competition --</option>
                </select>
                <span asp-validation-for="CompetitionId" class="text-danger"></span>
            </div> *@

            <div class="form-group">
                <label asp-for="CompetitionId" class="control-label"></label>
                <input asp-for="CompetitionId" class="form-control" type="number" />
                <span asp-validation-for="CompetitionId" class="text-danger"></span>
            </div>
            <div class="validation-summary-valid" data-valmsg-summary="true">
                <ul>
                    @foreach (var key in ViewData.ModelState.Keys)
                    {
                        foreach (var error in ViewData.ModelState[key].Errors)
                        {
                            <li>@error.ErrorMessage</li>
                        }
                    }
                </ul>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class ="btn btn-secondary reset-btn" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>