@{
    ViewData["Title"] = "Get Started";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the rugby player statistics comparison website</h1>
    <h2>How It Works</h2>
    <li>Select a Competition</li>
    <p>All of the tier 1 main competitions are supported: 6 Nations, Champions Cup, URC, Top 14, Premiership</p>
    <li>Select a round</li>
    <p></p>
    <a>Get Started</a>
</div>
