@{
    ViewData["Title"] = "Player Comparison";
}
<h1>@ViewData["Title"]</h1>

<p>This page will compare rugby players.</p>

@* Competition dropdown *@
@* Teams dropdown *@
@* if statement, show table if data - JS*@
@* Table / Card *@
@* Each player should be displayed on a card - for loop*@

