@model MvcRugby.Mappings.PrimaryFeeds;
@{
    ViewData["Title"] = "Rugby Competitions";
}

<h1>Step 1: Select a Competition:</h1>
<br>
@if (Model != null && Model.competitions != null)
{
    <div class="container">
        <div class="row">
            @foreach (var item in Model.competitions)
            {
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card text-center" style="width: 18rem;">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">@item.name</h5>
                            @* <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> *@
                            <a href="#" class="btn btn-primary">Select Competition</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <br>
}
else
{
    <p>No competitions available.</p>
}


@* Competition dropdown *@
@* Teams dropdown *@
@* if statement, show table if data - JS*@
@* Table / Card *@
@* Each player should be displayed on a card - for loop*@
