@{
    ViewData["Title"] = "Get Started";
}


<h1>Rugby Union - Player Performance Statistics Comparison App</h1>

<hr>
<div>
    <h2>How It Works:</h2>
    <ul class="list-group">
      <li class="list-group-item">Select an option from the list competitions available to view that competitions rounds</li>
      <li class="list-group-item">Select the round you would like to compare players performance metrics</li>
      <li class="list-group-item">A comparison of all the competition round teams, players and player statistics will be displayed</li>
    </ol>
</div>
<br>
<div>
    <a class="btn btn-primary" asp-controller="SportRadar" asp-action="Competitions">
        <i class="bi bi-eye-fill"></i> View Competitions
    </a>
</div>
