@* List all competitions & seasons *@
@model MvcRugby.Mappings.SeasonInfo;
@{
    ViewData["Title"] = "Competition Seasons";
}

<h1>Competitions</h1>
<p>To get started, select a competition to compare player statistics for a given round:</p>

@if (Model != null && Model.seasons != null)
{
    <div class="container">
        <div class="row">
            <!-- Add condition, if the end-date of a season is before todays date, don't render the data about that competition -->
            @foreach (var item in Model.seasons.Where(season => DateTime.Parse(season.end_date) >= DateTime.Today))
            {
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card text-center" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">@item.name</h5>                   
                            <a class="btn btn-primary" asp-controller="SportRadar" asp-action="SeasonLineups" asp-route-id="@item.id">
                                <i class="bi bi-eye-fill"></i> Select competition
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <p>No Teams available</p>
}