@* @model MvcRugby.Mappings.PrimaryFeeds;
@{
    ViewData["Title"] = "Rugby Competitions";
}

<h1>Step 1: Select a Competition:</h1>

@if (Model != null && Model.competitions != null)
{
    foreach (var item in Model.competitions)
    {
        <p>@item.name</p>
    }
}
else
{
    <p>No Teams available</p>
} *@